<template>
  <div class="gomoku">
    <canvas
      ref="canvasRef"
      :width="width"
      :height="height"
      @click="handleCanvasClick"
    ></canvas>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'

interface Props {
  /** 绘图宽度 */
  width?: number
  /** 路数 */
  ways?: number
}

interface Step {
  x: number;
  y: number;
  val: boolean;
}

// Canvas基准大小
const baseSize = {
  width: 420,
  height: 300,
}
// 棋盘背景色
const boardColor = '#FFBD35'
// 棋格线颜色
const lineColor = '#000'
// 白子颜色
const whiteColor = '#fff'
// 黑子颜色
const blackColor = '#000'
// 信息区域背景色
const infoAreaColor = '#C3BA85'
// 按钮背景色
const buttonColor = '#FFF1BD'
// 轮次提示文字颜色
const stepTextColor = '#297F87'
// 结束提示文字颜色
const finalTextColor = '#5D8233'
// 悔棋按钮背景色
const undoButtonColor = '#5D8233'
const canvasRef = ref<HTMLCanvasElement>()
const props = withDefaults(defineProps<Props>(), {
  width: 420,
  ways: 19,
})

// 方向基向量列表
const dirVectors = [
  [
    [-1, 0],
    [1, 0],
  ],
  [
    [0, -1],
    [0, 1],
  ],
  [
    [-1, -1],
    [1, 1],
  ],
  [
    [-1, 1],
    [1, -1],
  ],
]

// 缩放比例
const scale = computed(() => props.width / baseSize.width)
// 绘图区域宽度。其中棋盘区域宽度与总高度一致，右侧剩余宽度为信息区域。
const width = computed(() => baseSize.width * scale.value)
const height = computed(() => baseSize.height * scale.value)
const btnSize = computed(() => {
  return {
    width: 60 * scale.value,
    height: 24 * scale.value,
  }
})
// 右侧信息区域宽度
const infoAreaWidth = computed(
  () => (baseSize.width - baseSize.height) * scale.value
)
// 棋子大小
const pieceSize = computed(() => {
  const w = (height.value * 0.9) / (props.ways - 1)
  return {
    side: height.value * 0.05,
    width: w,
    height: w,
  }
})
let ctx: CanvasRenderingContext2D
// 棋谱
const manual = ref<Step[]>([])
// 上一手落子
const lastStep = computed(() => manual.value[manual.value.length - 1]);
// 下一手玩家是否执黑棋
let isNextBlack = true
// 状态：-1-未开始；0-正在进行；1-暂停；2-已结束；
let status = -1
let winner: null | boolean = false

/** 清空棋盘区域 */
const clearBoard = () => {
  ctx.clearRect(0, 0, height.value, height.value)
}

/** 清空信息区域 */
const clearInfoArea = () => {
  ctx.clearRect(height.value, 0, infoAreaWidth.value, height.value)
}

/** 清空棋盘上指定坐标处棋格 */
const clearAt = (x: number, y: number) => {
  ctx.fillStyle = boardColor
  ctx.fillRect(
    pieceSize.value.side + pieceSize.value.width * (x - 0.5),
    pieceSize.value.side + pieceSize.value.height * (y - 0.5),
    pieceSize.value.width,
    pieceSize.value.height
  )
}

/** 在棋盘上指定坐标处绘制 */
const drawAt = (x: number, y: number, isBlack?: boolean) => {
  ctx.beginPath()
  const { width: pw, height: ph, side: ps } = pieceSize.value
  const hpw = pw / 2

  if (isBlack === false) {
    // 绘制白子
    ctx.fillStyle = whiteColor
    ctx.arc(ps + x * pw, ps + y * ph, hpw * 0.75, 0, Math.PI * 2)
    ctx.fill()
  } else if (isBlack === true) {
    // 绘制黑子
    ctx.fillStyle = blackColor
    ctx.arc(ps + x * pw, ps + y * ph, hpw * 0.75, 0, Math.PI * 2)
    ctx.fill()
  } else {
    // 绘制棋盘
    ctx.strokeStyle = lineColor
    const m = ps
    const n = ps + hpw
    const t = height.value - m
    if (x === 0 && y === 0) {
      // 左上角
      ctx.moveTo(m, m)
      ctx.lineTo(n, m)
      ctx.moveTo(m, m)
      ctx.lineTo(m, n)
    } else if (x === 0 && y === props.ways - 1) {
      // 左下角
      ctx.moveTo(m, t)
      ctx.lineTo(n, t)
      ctx.moveTo(m, t)
      ctx.lineTo(m, t - hpw)
    } else if (x === props.ways - 1 && y === 0) {
      // 右上角
      ctx.moveTo(t, m)
      ctx.lineTo(t, n)
      ctx.moveTo(t, m)
      ctx.lineTo(t - hpw, m)
    } else if (x === props.ways - 1 && y === props.ways - 1) {
      // 右下角
      ctx.moveTo(t, t)
      ctx.lineTo(t - hpw, t)
      ctx.moveTo(t, t)
      ctx.lineTo(t, t - hpw)
    } else if (x === 0) {
      // 第一列
      const s = n + (y - 1) * ph
      ctx.moveTo(m, s)
      ctx.lineTo(m, s + ph)
      ctx.moveTo(m, s + hpw)
      ctx.lineTo(n, s + hpw)
    } else if (x === props.ways - 1) {
      // 最后一列
      const s = n + (y - 1) * ph
      ctx.moveTo(t, s)
      ctx.lineTo(t, s + ph)
      ctx.moveTo(t, s + hpw)
      ctx.lineTo(t - hpw, s + hpw)
    } else if (y === 0) {
      // 第一行
      const s = n + (x - 1) * pw
      ctx.moveTo(s, m)
      ctx.lineTo(s + pw, m)
      ctx.moveTo(s + hpw, m)
      ctx.lineTo(s + hpw, m + hpw)
    } else if (y === props.ways - 1) {
      // 最后一行
      const s = n + (x - 1) * pw
      ctx.moveTo(s, t)
      ctx.lineTo(s + pw, t)
      ctx.moveTo(s + hpw, t)
      ctx.lineTo(s + hpw, t - hpw)
    } else {
      // 中间十字形
      const p = n + (x - 1) * pw
      const q = n + (y - 1) * ph + hpw
      ctx.moveTo(p, q)
      ctx.lineTo(p + pw, q)
      ctx.moveTo(p + hpw, q - hpw)
      ctx.lineTo(p + hpw, q + hpw)
    }
    ctx.stroke()
  }
}

/** 绘制比赛状态控制按钮 */
const drawButton = () => {
  const { width: bw, height: bh } = btnSize.value
  ctx.clearRect(
    height.value + infoAreaWidth.value / 2 - bw / 2,
    20 * scale.value,
    bw,
    bh
  )

  ctx.fillStyle = buttonColor
  ctx.fillRect(
    height.value + infoAreaWidth.value / 2 - bw / 2,
    20 * scale.value,
    bw,
    bh
  )

  let btnContent = ''
  if (status === -1) {
    btnContent = '开始'
  } else if (status === 0) {
    btnContent = '暂停'
  } else if (status === 1) {
    btnContent = '继续'
  } else if (status === 2) {
    btnContent = '重来'
  }

  ctx.font = '16px'
  ctx.fillStyle = '#000'
  const text = ctx.measureText(btnContent)
  ctx.fillText(
    btnContent,
    height.value + infoAreaWidth.value / 2 - text.width / 2,
    20 * scale.value + bh / 2 + 4
  )
}

/** 绘制轮次提示文字 */
const drawStepTipText = () => {
  ctx.fillStyle = infoAreaColor
  ctx.fillRect(
    height.value,
    30 * scale.value + btnSize.value.height,
    infoAreaWidth.value,
    16
  )

  const contents = ['该 ', isNextBlack ? '黑' : '白', ' 方落子']
  const texts = contents.map(content => ctx.measureText(content))
  const len = texts.reduce((p, c) => (p += c.width), 0)
  ctx.font = '16px'
  let stepLen = 0
  contents.forEach((content, i) => {
    stepLen += texts[i - 1]?.width || 0
    ctx.fillStyle =
      i === 1 ? (isNextBlack ? blackColor : whiteColor) : stepTextColor
    ctx.fillText(
      content,
      height.value + infoAreaWidth.value / 2 - len / 2 + stepLen,
      30 * scale.value + btnSize.value.height + 8
    )
  })
}

/** 绘制结束提示文字 */
const drawFinalText = (hasWinner = true) => {
  ctx.fillStyle = infoAreaColor
  ctx.fillRect(
    height.value,
    50 * scale.value + btnSize.value.height,
    infoAreaWidth.value,
    16
  )

  if (!hasWinner) {
    const content = '所有人都是输家！'
    const text = ctx.measureText(content)
    ctx.fillStyle = finalTextColor
    ctx.fillText(
      content,
      height.value + infoAreaWidth.value / 2 - text.width / 2,
      50 * scale.value + btnSize.value.height + 8
    )
    return
  }

  const contents = [isNextBlack ? '黑' : '白', ' 方胜利！']
  const texts = contents.map(content => ctx.measureText(content))
  const len = texts.reduce((p, c) => (p += c.width), 0)
  ctx.font = '16px'
  let stepLen = 0
  contents.forEach((content, i) => {
    stepLen += texts[i - 1]?.width || 0
    ctx.fillStyle =
      i === 0 ? (isNextBlack ? blackColor : whiteColor) : finalTextColor
    ctx.fillText(
      content,
      height.value + infoAreaWidth.value / 2 - len / 2 + stepLen,
      50 * scale.value + btnSize.value.height + 8
    )
  })
}

/** 绘制悔棋按钮 */
const drawUndoButton = () => {
  const { width: bw, height: bh } = btnSize.value
  ctx.fillStyle = infoAreaColor
  ctx.fillRect(
    height.value + infoAreaWidth.value / 2 - bw / 2,
    90 * scale.value,
    bw,
    bh
  )

  if (manual.value.length < 1) return
  ctx.fillStyle = undoButtonColor
  ctx.fillRect(
    height.value + infoAreaWidth.value / 2 - bw / 2,
    90 * scale.value,
    bw,
    bh
  )

  const btnContent = '悔棋'

  ctx.font = '16px'
  ctx.fillStyle = '#000'
  const text = ctx.measureText(btnContent)
  ctx.fillText(
    btnContent,
    height.value + infoAreaWidth.value / 2 - text.width / 2,
    90 * scale.value + bh / 2 + 4
  )
}

/** 初始化棋盘 */
const initBoard = () => {
  clearBoard()

  ctx.fillStyle = boardColor
  ctx.fillRect(0, 0, height.value, height.value)

  for (let i = 0; i < props.ways; i++) {
    for (let j = 0; j < props.ways; j++) {
      drawAt(i, j)
    }
  }
}

/** 初始化信息区域 */
const initInfoArea = () => {
  clearInfoArea()

  ctx.fillStyle = infoAreaColor
  ctx.fillRect(height.value, 0, infoAreaWidth.value, height.value)

  drawButton()
  drawStepTipText()
  drawUndoButton()
}

const isSomeoneWin = () => {
  if (manual.value.length >= props.ways ** 2) return null
  let count = 1
  const { x, y, val } = lastStep.value
  return dirVectors.some(vectorPair => {
    count = 1
    vectorPair.forEach(([vx, vy]) => {
      for (let i = 1; i < 5; i++) {
        const tx = x + vx * i
        const ty = y + vy * i
        if (!manual.value.some(i => i.x === tx && i.y === ty && i.val === val)) break
        count++
      }
    })
    return count >= 5
  })
}

const handleCanvasClick = (e: MouseEvent) => {
  const { layerX: x, layerY: y } = e as any
  console.log('点击坐标', x, y)
  const { side: ps, width: pw, height: ph } = pieceSize.value
  if (
    status === 0 &&
    x > ps - pw / 2 &&
    x < height.value - pw / 2 &&
    y > ps - ph / 2 &&
    y < height.value - ph / 2
  ) {
    // 点击了棋盘区域，计算点击的坐标
    const rx = Math.floor((x - ps + pw / 2) / pw)
    const ry = Math.floor((y - ps + ph / 2) / ph)
    const key = `${rx}_${ry}`
    if (manual.value.some(i => i.x === rx && i.y === ry)) return
    clearAt(rx, ry)
    drawAt(rx, ry)
    drawAt(rx, ry, isNextBlack)
    manual.value.push({
      x: rx,
      y: ry,
      val: isNextBlack
    })
    winner = isSomeoneWin()
    if (winner !== false) {
      status = 2
      drawButton();
      drawFinalText(winner === true)
    } else {
      isNextBlack = !isNextBlack
      drawStepTipText()
      drawUndoButton()
    }
  } else if (
    x > height.value + infoAreaWidth.value / 2 - btnSize.value.width / 2 &&
    x < height.value + infoAreaWidth.value / 2 + btnSize.value.width / 2 &&
    y > 20 * scale.value &&
    y < 20 * scale.value + btnSize.value.height
  ) {
    // 点击了按钮
    if (status === -1) {
      status = 0
    } else if (status === 0) {
      status = 1
    } else if (status === 1) {
      status = 0
    } else if (status === 2) {
      status = 0
      manual.value.splice(0, manual.value.length)
      isNextBlack = true
      initBoard()
      initInfoArea()
    }
    drawButton()
  } else if (
    status === 0 &&
    x > height.value + infoAreaWidth.value / 2 - btnSize.value.width / 2 &&
    x < height.value + infoAreaWidth.value / 2 + btnSize.value.width / 2 &&
    y > 90 * scale.value &&
    y < 90 * scale.value + btnSize.value.height
  ) {
    // 悔棋
    if (manual.value.length < 1) return
    const undoStep = manual.value.pop()!
    isNextBlack = !isNextBlack
    clearAt(undoStep.x, undoStep.y)
    drawAt(undoStep.x, undoStep.y)
    drawStepTipText()
    drawUndoButton()
  }
}

onMounted(() => {
  ctx = canvasRef.value?.getContext('2d')!
  isNextBlack = true

  initBoard()
  initInfoArea()
})
</script>

<style lang="less" scoped></style>
